#navbarNav {
  background-color: $nav-bg-color;
}

#navbarTags .nav-link {
  color: $tags-font-color !important;
}

.nav-link {
  color: $light-font-color !important;
}

.navbar-header {
  background-color: white;
}

.container-fluid.full-width {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.row.row-no-gutter {
  margin: 0;
}

.row.row-no-gutter [class*="col-"] {
  padding: 0;
}

#logos {
  height: 11rem;
}

.main-menu {
  width: 70vw;
  height: 45px;
}

.tags-menu {
  background-color: $tags-bg-color;
  background-image: url("../assets/tagbar_image.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 70px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-indicator {
  background-image: url("../../static/img/nav_map_indicator.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
