.infobox-text {
  font-size: 0.8rem;
  color: black;
}

.infobox-img {
  float: left;
  width: 124px;
  height: 83px;
  margin-right: 15px;
}

.infobox-container {
  max-width: 280px;
}

.gm-style-iw:parent {
  box-shadow: 7px 4px 6px rgba(178, 178, 178, 0.6);
}
