$nav-bg-color: #362b1c;
$tags-bg-color: #de3f1f;
$dropdown-bg: #fefff9;
$light-font-color: #d0ccc9;
$tags-font-color: #fefefc;

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:600&subset=latin-ext");

$font-family-base: "Titillium Web";
//$font-size-base: 1.2rem;
